<div class="container">
  <form>
    <div class="row">
      <div class="col-sm-4">
        <div class="form-group">
          <label>Name:</label>
          <input
            type="text"
            class="form-control"
            name="name"
            [(ngModel)]="name"
          />
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-4">
        <div class="form-group">
          <label>Surname: </label>
          <input
            type="text"
            class="form-control"
            name="surname"
            [(ngModel)]="surname"
          />
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-4">
        <div class="form-group has-success has-feedback">
          <label>Email:</label>
          <div class="input-group">
            <span class="input-group-addon">@</span>
            <input
              type="email"
              class="form-control"
              name="email"
              [(ngModel)]="email"
            />
          </div>
        </div>
      </div>
    </div>
    <button class="btn btn-success" (click)="formHandler()">Submit</button>
  </form>
  <br />
  <p *ngIf="isCreated; else noUser">The user was created!</p>
  <ng-template #noUser>
    <p>U need to create user.</p>
  </ng-template>
  <br />

  <p [ngStyle]="{ backgroundColor: getColor() }">{{ greeting }}</p>
  <br />
</div>
<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <toys-items></toys-items>
    </div>
  </div>
</div>
